<div class="nav">
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#"><img ng-src="images/CornHoler_logo1.png" ng-alt="Cornholer"></a>

      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right" ng-if="!$ctrl.currentUser">
          <li><a ui-sref="login">login</a></li>
          <li><a ui-sref="register">register</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right" ng-if="$ctrl.currentUser">
          <li><a ui-sref="userShow">profile</a></li>
          <li><a ui-sref="userSettings">account settings</a></li>
          <li><a ng-click="$ctrl.logOut()">logout</a></li>
        </ul>
      </div>
    </div>
  </nav>
</div>
