<h1>User's Settings</h1>


<div>
  <h2 id='login-header'>Update</h2>
  <form ng-submit="$ctrl.login()">
    <div class="form-group">
      <label for="username">Username:</label>
      <input type="text" class="form-control" id="username" placeholder="Enter Username" required ng-model="$ctrl.currentUser.username"/>
    </div>
    <div class="form-group">
      <label for="pwd">Password:</label>
      <input type="password" class="form-control" id="pwd" placeholder="Enter password" required ng-model="$ctrl.currentUser.passwordDigest" />
    </div>
    <div class="form-group">
      <label for="pwd">Telephone:</label>
      <input type="telephone" class="form-control" id="phone" placeholder="Telephone" required ng-model="$ctrl.currentUser.telephone" />
    </div>
    <button type="submit" class="btn btn-danger">Submit</button>
  </form>
</div>
