<h1>Admin</h1>
<div class="row text-center">
  <div class="col-xs-6">
    <div id="black-jumbotron" class="jumbotron">
      <h1 id="black-score" class="text-center">0</h1>
      <button id="black-plus" class="btn btn-lg btn-default manipulator">+</button>
      <button id="black-minus" class="btn btn-lg btn-default manipulator">-</button>
    </div>
  </div>
  <div class="col-xs-6">
    <div id="red-jumbotron" class="jumbotron">
      <h1 id="red-score" class="text-center">0</h1>
      <button id="red-plus" class="btn btn-lg btn-default manipulator">+</button>
      <button id="red-minus" class="btn btn-lg btn-default manipulator">-</button>
    </div>
  </div>
</div>
<div class="text-center">
  <button id="clear-scores" class="btn btn-lg btn-default">Clear Scores</button>
  <button id="shift-list" class="btn btn-lg btn-default">Next Team</button>
</div>
