<div class='admin-view'>
  <score></score>
  <div class="page-header">
    <h1>Admin</h1>
  </div>
  <div class="row text-center">
    <div class="col-xs-6">
      <div id="black-jumbotron" class="jumbotron">
        <button class="btn btn-lg btn-default" ng-click="$ctrl.adjustScore('black-plus')">+</button>
        <button class="btn btn-lg btn-default" ng-click="$ctrl.adjustScore('black-minus')">-</button>
        <button class="btn btn-lg btn-default" ng-click="$ctrl.nextTeam('black')">Next Team</button>
      </div>
    </div>
    <div class="col-xs-6">
      <div id="red-jumbotron" class="jumbotron">
        <button class="btn btn-lg btn-default" ng-click="$ctrl.adjustScore('red-plus')">+</button>
        <button class="btn btn-lg btn-default" ng-click="$ctrl.adjustScore('red-minus')">-</button>
        <button class="btn btn-lg btn-default" ng-click="$ctrl.nextTeam('red')">Next Team</button>
      </div>
    </div>
  </div>
  <div class="text-center">
    <button class="btn btn-lg btn-default" ng-click="$ctrl.clearScore()">Clear Scores</button>
    <button class="btn btn-lg btn-default" ng-click="$ctrl.saveGame()">Save Game</button>
  </div>
  <queue></queue>
</div>
