<div class='admin-view'>
  <h1>CornHoler</h1>
  <div class="row text-center">
    <div class="col-xs-6">
      <div id="black-jumbotron" class="jumbotron">
        <h1 id="black-score" class="text-center">0</h1>
        <button class="btn btn-lg btn-default manipulator" id="black-plus">+</button>
        <button class="btn btn-lg btn-default manipulator" id="black-minus">-</button>
      </div>
    </div>
    <div class="col-xs-6">
      <div id="red-jumbotron" class="jumbotron">
        <h1 id="red-score" class="text-center">0</h1>
        <button class="btn btn-lg btn-default manipulator" id="red-plus">+</button>
        <button class="btn btn-lg btn-default manipulator" id="red-minus">-</button>
      </div>
    </div>
  </div>
  <div class="text-center">
    <button class="btn btn-lg btn-default" id="clear-scores">Clear Scores</button>
    <button class="btn btn-lg btn-default" id="shift-list">Next Team</button>
  </div>
</div>
